body {
  margin: 0;
  background-color: rgb(252, 248, 248);
 
}
h1 {
    justify-content: center;
    align-items: center;
}

#start-btn {
  background-color: rgb(136, 143, 126);
  color: white;
  padding: 30px;
  font-size: 20px;
  margin-top: 25px;
  border-radius: 50px;
  cursor: pointer; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px; 
}

 
#hud {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

#game-box {
  background-image: url("./images/bg.png");  
  background-size: cover;
  width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden;
  user-select: none;
}

#game-box * {
  pointer-events: none;
}

#game-screen, #game-over-screen {
  display: none;
}