body {
  margin: 0;
  background-color: rgb(252, 248, 248);
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px; 
}

#start-btn {
  background-color: rgb(136, 143, 126);
  color: white;
  padding: 20px 40px;
  font-size: 20px;
  margin-top: 25px;
  border-radius: 50px;
  cursor: pointer; 
  border: none;
}

#game-screen {
  display: none;
  position: relative; /* Indispensable pour le score-container */
}

#score-container {
  position: absolute;
  bottom: 10px;    /* Placé en haut à droite du jeu */
  right: 450px;
  z-index: 1000;
  font-size: 24px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid rgb(136, 143, 126);
}
.game-controls {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.game-controls button {
    cursor: pointer;
    background: rgb(136, 143, 126);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.game-controls button:hover {
    background: rgb(106, 113, 96);
}

#game-box {
  background-image: url("./images/bg.png");  
  background-size: cover;
  width: 50vw;
  max-width: 800px;
  height: 600px;
  position: relative;
  overflow: hidden;

}

#game-screen, #game-over-screen {
  display: none;
}